@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-size: inherit;
  background: var(--Very-light-gray);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 1em 2.1em;
  display: inline-block;
  text-wrap: nowrap;
  transition: .3s;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--Very-light-gray);
    display: grid;
    place-items: center;
    font-size: 15px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    padding: 5em 1.2em;
}

main {
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    overflow: hidden;
}

.card {
    padding: 3.2em;
}

.card img {
    margin-bottom: 1.5em;
}

.bright-orange {
    background-color: var(--Bright-orange);
}
.bright-orange a {
    color: var(--Bright-orange);
}
.bright-orange a:hover {
    background: var(--Bright-orange);
    outline: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}

.dark-cyan {
    background-color: var(--Dark-cyan);
}
.dark-cyan a {
    color: var(--Dark-cyan);
}
.dark-cyan a:hover {
    background: var(--Dark-cyan);
    outline: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}

.very-dark-cyan{
    background-color: var(--Very-dark-cyan);
}
.very-dark-cyan a {
    color: var(--Very-dark-cyan);
}
.very-dark-cyan a:hover {
    background: var(--Very-dark-cyan);
    outline: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}

.card h1 {
    color: var(--Very-light-gray);
    font-family: Big Shoulders Display, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .5em;
}

.card p {
    line-height: 1.5;
    color: var(--Transparent-white);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    margin-bottom: 1.5em;
}

@media screen and (min-width:768px) {
    body {
        padding: 0;
    }
    main {
         max-width: 920px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
    }

    .card img {
        margin-bottom: 2.4em;
    }

    .card h1 {
        font-size: 2.5rem;
        margin-bottom: .6em;
    }

    .card p {
        line-height: 1.67;
        margin-bottom: 5.5em;
    }
}

























































































